#cont{
  display:grid; 
  grid-template-columns:repeat(4,auto);
  padding-top: 4rem;
}

#cont>div{
  border: 1px solid black;
}
#cont>div>p{
  border-top: 1px solid black;
}
.lien{
  color: black;
  font-size: 24px;
  padding: 3rem;
}

form{
  padding-top: 4rem;
}